header {
    padding: 0 5px;
    background: #ffffff;
    height: 0px;
    display: flex;
    align-items: center;

    h1 {
        color: rgb(0, 0, 0);
    }

    p.welcome {
        color: rgb(0, 0, 0);
    }


    .logo {
        height: 100%;
        width: auto;
     }
}