div.layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;

    main {
        padding: 20px;
        background: #ffffff;
    }
}